body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(120deg, #ff9a9e, #fad0c4);
    color: #333;
    text-align: center;
}

header {
    padding: 40px;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.card {
    background: white;
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

button {
    background: #ff758c;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #ff4e70;
}
